{% extends 'base.html.twig' %}

{% block title %}Modifier l'utilisateur{% endblock %}

{% block body %}
<h1>Modifier l'utilisateur {{ user.firstname }} {{user.lastname}}</h1>

{{ form_start(form) }}
    {{ form_row(form.email) }}
    {{ form_row(form.roles) }}
    {{ form_row(form.password) }}
    <button type="submit" class="btn btn-primary">Sauvegarder</button>
{{ form_end(form) }}

<a href="{{ path('admin_dashboard') }}" class="btn btn-secondary">Retour au tableau de bord</a>
{% endblock %}
